In [43]:
%pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from -r requirements.txt (line 1)) (2.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pyarrow in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from -r requirements.txt (line 2)) (20.0.0)
Requirement already satisfied: fastparquet in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from -r requirements.txt (line 3)) (2024.11.0)
Requirement already satisfied: scikit-learn in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from -r requirements.txt (line 4)) (1.4.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->-r requirements.txt (line 1)) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: cramjam>=2.3 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fastparquet->-r requirements.txt (line 3)) (2.10.0)
Requirement already satisfied: fsspec in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fastparquet->-r requirements.txt (line 3)) (2024.10.0)
Requirement already satisfied: packaging in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from fastparquet->-r requirements.txt (line 3)) (24.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn->-r requirements.txt (line 4)) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\trath\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\trath\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [15]:
!curl -O https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  1 45.4M    1  575k    0     0   411k      0  0:01:53  0:00:01  0:01:52  412k
  7 45.4M    7 3535k    0     0  1474k      0  0:00:31  0:00:02  0:00:29 1475k
 14 45.4M   14 6687k    0     0  1968k      0  0:00:23  0:00:03  0:00:20 1969k
 19 45.4M   19 9055k    0     0  2059k      0  0:00:22  0:00:04  0:00:18 2060k
 25 45.4M   25 11.5M    0     0  2195k      0  0:00:21  0:00:05  0:00:16 2371k
 31 45.4M   31 14.2M    0     0  2288k      0  0:00:20  0:00:06  0:00:14 2812k
 37 45.4M   37 17.0M    0     0  2355k      0  0:00:19  0:00:07  0:00:12 2777k
 43 45.4M   43 19.7M    0     0  2406k      0  0:00:19  0:00:08  0:00:11 2704k
 49 45.4M   49 22.4M    0     0  2445k      0  0:00:19  0:00:09  0:00:10 2784k
 55 45.4M   55 25.1M    0     0  2477k      0  0:00:18  0:00:10  0:00:08 2783k
 61 45.4M   61 28.0M    0     0  2517k      0  0:00:18  0:00:11  0:00:07 2811k
 69 45.4M   69 31.7M    0     0  2624k      0  0:00:17  0:00:12  0:00:05 3022k
 76 45.4M   76 34.9M    0     0  2673k      0  0:00:17  0:00:13  0:00:04 3120k
 83 45.4M   83 37.7M    0     0  2687k      0  0:00:17  0:00:14  0:00:03 3141k
 89 45.4M   89 40.4M    0     0  2691k      0  0:00:17  0:00:15  0:00:02 3136k
 95 45.4M   95 43.4M    0     0  2711k      0  0:00:17  0:00:16  0:00:01 3154k
 99 45.4M   99 45.0M    0     0  2654k      0  0:00:17  0:00:17 --:--:-- 2729k
100 45.4M  100 45.4M    0     0  2657k      0  0:00:17  0:00:17 --:--:-- 2606k

In [16]:
!curl -O https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 45.5M    0  303k    0     0   244k      0  0:03:10  0:00:01  0:03:09  245k
  6 45.5M    6 2847k    0     0  1239k      0  0:00:37  0:00:02  0:00:35 1240k
 10 45.5M   10 5103k    0     0  1574k      0  0:00:29  0:00:03  0:00:26 1575k
 16 45.5M   16 7887k    0     0  1860k      0  0:00:25  0:00:04  0:00:21 1861k
 23 45.5M   23 10.5M    0     0  2070k      0  0:00:22  0:00:05  0:00:17 2176k
 29 45.5M   29 13.4M    0     0  2207k      0  0:00:21  0:00:06  0:00:15 2694k
 35 45.5M   35 16.3M    0     0  2306k      0  0:00:20  0:00:07  0:00:13 2803k
 42 45.5M   42 19.1M    0     0  2382k      0  0:00:19  0:00:08  0:00:11 2906k
 48 45.5M   48 22.0M    0     0  2439k      0  0:00:19  0:00:09  0:00:10 2931k
 54 45.5M   54 24.8M    0     0  2488k      0  0:00:18  0:00:10  0:00:08 2927k
 62 45.5M   62 28.3M    0     0  2585k      0  0:00:18  0:00:11  0:00:07 3056k
 70 45.5M   70 32.2M    0     0  2661k      0  0:00:17  0:00:12  0:00:05 3158k
 78 45.5M   78 35.6M    0     0  2734k      0  0:00:17  0:00:13  0:00:04 3304k
 85 45.5M   85 38.9M    0     0  2798k      0  0:00:16  0:00:14  0:00:02 3462k
 93 45.5M   93 42.6M    0     0  2863k      0  0:00:16  0:00:15  0:00:01 3632k
100 45.5M  100 45.5M    0     0  2904k      0  0:00:16  0:00:16 --:--:-- 3649k

In [ ]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer

In [ ]:
# Read the parquet file
df_january = pd.read_parquet('yellow_tripdata_2023-01.parquet')

# Count the number of columns
num_columns = len(df_january.columns)
print(f"Number of columns: {num_columns}")

Number of columns: 19

In [40]:
df_january

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,ride_duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [25]:
tpep_pickup_datetime = pd.to_datetime(df_january.tpep_pickup_datetime)
tpep_dropoff_datetime = pd.to_datetime(df_january.tpep_dropoff_datetime)
df_january['ride_duration'] = tpep_dropoff_datetime - tpep_pickup_datetime
df_january['ride_duration'] = df_january['ride_duration'].dt.total_seconds() / 60

In [28]:
df_january['ride_duration'].describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: ride_duration, dtype: float64

In [33]:
valid_records = df_january[(df_january['ride_duration'] >= 1) & (df_january['ride_duration'] <= 60)]

In [39]:
percentage_of_records_left = (len(valid_records) / len(df_january)) * 100
percentage_of_records_left

98.1220282212598

In [ ]:
features = ['PULocationID', 'DOLocationID']
valid_records[features] = valid_records[features].astype(str)
train_dict = valid_records[features].to_dict(orient='dict')

C:\Users\trath\AppData\Local\Temp\ipykernel_11188\3250989730.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_records[features] = valid_records[features].astype(str)

In [ ]:
dv = DictVectorizer()